<div class="row">
    <!-- Subcaps -->
    <div class="col-xs-12 col-xl-6">
        {% include "ships/subcaps_mobile.html" %}
        {% include "ships/subcaps.html" %}
    </div>

    <!-- XL Screen Capitals -->
    <div class="col-xs-12 col-xl-6 hidden-xs hidden-sm hidden-md hidden-lg">
        <div class="row">
            <div class="col-xs-12">
                <h4>Capital/Jump</h4>
            </div>
        </div>
        {% include "ships/capitals.html" %}
    </div>
</div>
<hr class="hidden-xs hidden-sm hidden-md">