/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    text-align: center;
}

@media screen and (max-width: 1000px){
    .footer {
        line-height: 30px;
    }
}

@media screen and (max-width: 500px){
    .footer {
        height: 90px;
    }
}

@media screen and (max-width: 350px){
    .footer {
        height: 120px;
    }
}
