<div class="row hidden-xs hidden-sm hidden-md">
    {% include "misc/scanning.html" %}
    {% include "misc/clones_drugs.html" %}
    {% include "misc/fitting_overheating.html" %}
</div>
<div class="row panel panel-default hidden-lg hidden-xl">
    <div class="panel-heading" data-toggle="collapse" data-target="#misc">
        <h4 class="panel-title"><span>Miscellaneous</span></h4>
    </div>
    <div id="misc" class="panel-collapse collapse in">
        <div class="panel-body">
            {% include "misc/scanning.html" %}
            {% include "misc/clones_drugs.html" %}
            {% include "misc/fitting_overheating.html" %}
        </div>
    </div>
</div>
<hr class="hidden-xs hidden-sm hidden-md">
