{% if 'Drones' in skills %}
    <div class="col-xs-12 col-lg-9 col-xl-4">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="row">
                    <div class="col-xs-12">
                        <h5>Drones</h5>
                    </div>
                    <div class="col-xs-6">
                        <h6>Drone Operation</h6>
                        {% for size in ['Light', 'Medium', 'Heavy'] %}
                            <span class="lbl">{{ size }}</span>
                            <span class="pull-right">{{ skills['Drones'][size+' Drone Operation'] }}</span>
                            <br>
                        {% endfor %}
                        <span class="lbl">Sentry</span>
                        <span class="pull-right">{{ skills['Drones']['Sentry Drone Interfacing'] }}</span>
                        <br>
                        {% for size in ['Mining', 'Ice Harvesting'] %}
                            <span class="lbl">{{ size }}</span>
                            <span class="pull-right">{{ skills['Drones'][size+' Drone Operation'] }}</span>
                            <br>
                        {% endfor %}
                    </div>

                    <div class="col-xs-6">
                        <h6>Drone Specialization</h6>
                        {% for type in ['Amarr', 'Caldari', 'Gallente', 'Minmatar', 'Mining', 'Ice Harvesting'] %}
                            <span class="lbl">{{ type }}</span>
                            <span class="pull-right">{{ skills['Drones'][type+' Drone Specialization'] }}</span>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h5>Drone Support</h5>
                <span class="lbl">Drones</span>
                <span class="pull-right">{{ skills['Drones']['Drones'] }}</span>
                {% for type in ['Avionics', 'Durability', 'Interfacing', 'Navigation', 'Sharpshooting'] %}
                    <span class="lbl">{{ type }}</span>
                    <span class="pull-right">{{ skills['Drones']['Drone '+type] }}</span>
                    <br>
                {% endfor %}
                <span class="lbl">Advanced Drone Avionics</span>
                <span class="pull-right">{{ skills['Drones']['Advanced Drone Avionics'] }}</span>
            </div>
        </div>
    </div>
{% endif %}