{% include "dist/nav.html" %}

<div id="breakdown" class="col-xl-10 col-md-9 col-sm-8 col-xs-12">
    <!-- Ships -->
    {% include "dist/ships.html" %}

    <!-- Weapons -->
    {% include "dist/weapons.html" %}

    <!-- Weapons -->
    {% include "dist/tank.html" %}

    <!-- Misc -->
    {% include "dist/misc.html" %}

    <!-- Mobile Capitals -->
</div>

<script type="text/javascript">
    $('#esi_time').html({{ "{:1.3f}".format(network_time) }});
    $('#parse_time').html({{ "{:.3f}".format(parse_time) }});

    $('#current_skill_name').html('{{ current_skill['skill_name'] }} (Level {{ current_skill['skill_level'] }})');
    let pct = 0 || {{ "{:.2f}".format(current_skill['completed_pct']) }};
    let formatted_pct = '{{ "{:.2f}".format(current_skill['completed_pct']) }}' + '%';
    $('#current_progress').css('width', formatted_pct).html(formatted_pct);
    $('#finish_datetime').html('{{ current_skill['finish_datetime'] }}');
    $('#total_time').html('{{ total_time }}');
    $('#skill_count').html('{{ skill_count }}');

    let finish = moment.utc('{{ current_skill['finish_datetime'] }}');
    let finish_timestamp = finish.unix();
    let pct_remaining = 100 - pct;
    let now = moment.utc();
    let now_timestamp = now.unix();
    let initial_distance = finish_timestamp - now_timestamp;

    let x = setInterval(function () {
        let now = moment.utc();
        let now_timestamp = now.unix();
        let distance = finish_timestamp - now_timestamp;

        let new_pct_remaining = 100 - (pct_remaining - ((initial_distance - distance) * 100 / initial_distance)).toFixed(2);
        let new_pct_formatted = new_pct_remaining + '%';
        $('#current_progress').css('width', new_pct_formatted).html(new_pct_formatted);

        // Time calculations for days, hours, minutes and seconds
        let days = Math.floor(distance / (60 * 60 * 24));
        let hours = Math.floor((distance % (60 * 60 * 24)) / (60 * 60));
        let minutes = Math.floor((distance % (60 * 60)) / (60));
        let seconds = Math.floor((distance % (60)));

        $('#time_remaining').html(days + " days " + pad(hours, 2) + ":" + pad(minutes, 2) + ":" + pad(seconds, 2));

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
        }
    }, 1000);

    function pad(n, width, z) {
        z = z || '0';
        n = n + '';
        return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
    }
</script>
