</div> <!-- main container -->
{#<div id="footer" class="navbar navbar-default navbar-fixed-bottom hidden-xs hidden-sm">#}
<footer class="footer">
  <div class="container">All EVE related materials are property of <a href="http://www.ccpgames.com/">CCP Games</a> |
    ISK Donations can be sent to
    <a href="https://gate.eveonline.com/Profile/Streetlamp%20LeBear/" target="_blank">
      Streetlamp LeBear
    </a> |
    View the code on <a href="https://github.com/billypoke/esv">GitHub</a></div>
</div>
</footer>
</body>
</html>