<footer class="footer">
    <div class="container">All EVE related materials are property of <a href="http://www.ccpgames.com/">CCP Games</a> |
        ISK Donations can be sent to
        <a href="https://gate.eveonline.com/Profile/Streetlamp%20LeBear/" target="_blank">
            Streetlamp LeBear
        </a> |
        View the code on <a href="https://github.com/billypoke/esv">GitHub</a>
    </div>
</footer>
<!-- jQuery -->
<script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<!-- FontAwesome -->
<script defer src="//use.fontawesome.com/releases/v5.5.0/js/all.js"
        integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
        crossorigin="anonymous"></script>

<!-- Moment -->
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

{% if not show_crest %}
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: '/esv/get_skills/{{ refresh_token }}',
                success: function (data) {
                    $('#skills').html(data);
                    $('#loading_div').fadeOut(400, function () {
                        $('#skills').slideDown();
                        $('#timings').fadeIn();
                        $('#current_skill').fadeIn();
                    });

                    $('.pop').popover({
                        html: true,
                        trigger: "hover"
                    });

                    $('#breakdown').find('.pull-right').each(function () {
                        var level = parseInt($(this).html());
                        if (!isNaN(level)) {
                            $(this).addClass('level l' + level);
                        } else {
                            $(this).addClass('level notinjected');
                            $(this).html("X")
                        }
                    });
                }
            });
        })
    </script>
{% endif %}
